/* Estilo Global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}

:root {
    --primary-color:#006F83;
    --secondary-color: rgb(255, 255, 255);
    --bg-principal: rgb(221, 221, 221); 
    --bg-bar: rgba(190, 235, 225, 0.251);
    --bg-emphasis: rgb(40, 102, 76);
    --bg-btn-hover: rgb(17, 51, 37);
    --title-font: 'Fira Sans', sans-serif;
    --subtitle-font: 'Montserrat Alternates', sans-serif;
    --body-font: 'Open Sans', sans-serif;
    --p-font: 'Roboto', sans-serif;
}

/* Dark theme */
.dark, .dark header {
    --primary-color:#03A6A6;
    --secondary-color: fff;
    --bg-principal: #010A0E;
    --bg-secundary:#003D4C;
    --bg-bar: rgba(0, 0, 41, 0.251);
    --bg-emphasis: rgb(115, 240, 163);
    --bg-btn-hover: rgb(115, 240, 163);
}

/* Barra de navegação principal */
body {
    height: 100%;
    transition: 0.3s;
}
#logo-container {
    display: flex;
    align-items: center;
}

#logo {
    max-width: 50px;
    margin-inline-start: 2rem;
}

input[type="checkbox"] {
    display: none;
}

.bi {
    font-size: 1.3rem;
    cursor: pointer;
}

.bi-moon {
    display: none;
}

/* Dark theme */
.dark, .dark header {
    --bs-color-01: rgb(4, 243, 132);
    --bs-color-02: rgb(255, 255, 255);
    --bg-principal: rgb(0, 0, 41); 
    --bg-bar: rgba(0, 0, 41, 0.251);

    --bg-emphasis: rgb(115, 240, 163);
    --bg-btn-hover: rgb(115, 240, 163);
    --bg-font--title: rgb(115, 240, 163);
    --bg-certificates:rgba(0, 0, 36,0.3)
}

.dark,
.dark header {
    background-color: #263238;
    color: #fff;
}

.dark .bi-sun {
    display: none;
}

.dark .bi-moon {
    display: block;
}

.dark .btn {
    background-color: #67b4f3;
}


#header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 1.3rem;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0.3rem;
    box-sizing: border-box;
    height: 5rem;
    padding: 1rem;
    box-shadow: 0.5px 0.5px 10px 0.5px #000;
    position: relative;
}



#menu{
    display: flex;
    list-style: none;
    gap: .5rem;  
}

#menu a {
    color: var(--bg-font--title);
    display: block;
    padding: .5rem;
}

#menu a:hover {
    background-color: var(--bg-btn-hover);
    color: var(--bg-font--title);
}

#btn-mobile {
    display: none;
}

@media (max-width: 600px) {
    #btn-mobile{
        display: block;
    }
    #menu {
        display: none;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background-color: var(--bg-principal);
        transition: 0.6s;
        z-index: 1000;
        height: calc(100vh-70px);
    }
    #nav.active #menu {
        display: block;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid var(--bs-color-01)
    }
    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        color: transparent;
        border: none;
        background: none;
        cursor: pointer;
    }
    #hamburguer {
        color: var(--bg-font--title);
        display: block;
        width: 20px;
        border-top: 2px solid;
        width: 20px;
    }
    #hamburguer::after, #hamburguer::before {
        content: '' ;
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }
    #nav.active #hamburguer {
        border-top-color: transparent;
    }

    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburguer::after {  
        transform: rotate(-135deg);
        top: -7px;
    }
}

/*achievements*/

.text-ach{
    position: absolute;
    margin-top: 25em;
    margin-left: 10em;
    width: 50em;
    font-size: 20px;
}

#achievements{
    background-color: var(--bg-certificates);
    font-family: var(--p-font);
    color: var(--bs-color-02);
}    

.img_elasnatech {
    max-width: 300px;
    width: 100%;
}


#achievements ol {
    margin-left: 45px;
    padding: 0; 

}

#achievements li {
    display: inline-block; 
    margin-right: 15px; 
    vertical-align: middle; 
}

@media (min-width: 576px) {
    .img_elasnatech {
        max-width: 600px;
    }

}


/*footer*/
footer{
    padding: 0.5rem;
    background-color: var(--bg-emphasis);
    color: var(--bs-color-02);
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

.contacts-footer {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

#ico-social {
    margin-bottom: 10px;
    width: 32px;
    
}
