/* Estilo Global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}

:root {
    --bg-principal:  #DBF6F6;
    --bg-second: #D2FFE6;    
    --bs-color-01: #011526;
    --bs-color-02: #021E24;
    --bg-emphasis: #059172;
    --bg-btn-hover: #021E24;
    --light-color: #263238;


    --title-font: 'Fira Sans', sans-serif;
    --subtitle-font: 'Montserrat Alternates', sans-serif;
    --body-font: 'Open Sans', sans-serif;
    --p-font: 'Roboto', sans-serif;
}

/* Dark theme */
.dark, .dark header {
    --bg-principal: #011526;
    --bg-second: #021E24;    
    --bs-color-01: #DBF6F6;
    --bs-color-02: #D2FFE6;
    --bg-emphasis: #b4fcc9;
    --bg-btn-hover: #14F9C9;
    --light-color: #99bfd8;
}


input[type="checkbox"] {
    display: none;
}

.bi {
    font-size: 1.3rem;
    cursor: pointer;
}

.bi-moon {
    display: none;
}

.dark,
.dark header {
    background-color: var(--bg-principal);
    color: var(--bs-color-01);
}

.dark .bi-sun {
    display: none;
}

.dark .bi-moon {
    display: block;
}

.dark .btn {
    background-color: var(--bg-emphasis);
}

/* Barra de navegação principal */
body {
    height: 100%;
    transition: 0.3s;
}

#logo-container {
    display: flex;
    align-items: center;
}

#logo {
    max-width: 50px;
    margin-inline-start: 2rem;
}

#header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-principal);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 1.3rem;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0.3rem;
    box-sizing: border-box;
    height: 5rem;
    padding: 1rem;
    box-shadow: 0.5px 0.5px 10px 0.5px #000;
    position: relative;
}

#menu{
    display: flex;
    list-style: none;
    gap: .5rem;  
    border: none;
}

#menu a {
    color: var(--bg-emphasis);
    display: block;
    padding: .5rem;
    text-decoration: none;
    border-radius: 6px;
}

#menu a:hover {
    background-color: var(--bg-btn-hover);
    color: var(--bg-principal);
}

#btn-mobile {
    display: none;
    border: none;
}

@media (max-width: 600px) {
    #btn-mobile{
        display: block;
    }
    #menu {
        display: none;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background-color: var(--bg-principal);
        transition: 0.6s;
        z-index: 999;
        height: calc(100vh-70px);
    }
    #nav.active #menu {
        display: block;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid var(--bg-emphasis);
    }
    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        color: transparent;
        border: none;
        background: none;
        cursor: pointer;
    }
    #hamburguer {
        color: var(--bg-emphasis);
        display: block;
        width: 20px;
        border-top: 2px solid;
        width: 20px;
    }
    #hamburguer::after, #hamburguer::before {
        content: '' ;
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }
    #nav.active #hamburguer {
        border-top-color: transparent;
    }

    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburguer::after {  
        transform: rotate(-135deg);
        top: -7px;
    }
}

/* Estilo para o título */
#title {                      
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 8em;
    margin-left: 4em;
    color: var(--light-color); 
}

#title img{
    max-width: 0;
    align-items: center;
}

h2 {
    font-size: 1.3em; 
}

#title .name {
    font-size: 3em; 
    font-weight: bold;
    color: var(--bg-emphasis);
}

p {
    font-size: 20px;
    color: var(--bg-bar);
}

.text-title{
    margin-top: 1.3em;
}

.roles {
    display: flex;
    flex-direction: column;
}

.role {
    font-size: 20px;
    color: var(--bg-bar);
    opacity: 0; 
    animation: slideInFromLeft 6s ease-in-out infinite;
    z-index: -1;
}

/* Animação para alternar entre as roles */

@keyframes slideInFromLeft  {
    0%, 100% {
        opacity: 0;
    }
    25%{
        opacity: 0.3;
    }
    50%{
        opacity: 0.7;
    }
    100%{
        opacity: 1;
    }
}

@media (min-width:576px) {        /*OK*/
    #title {
        margin-left: 16em; 
    }

    h1{
        font-size: 3em;
    }
    
    h2 {
        font-size: 2em;
    }
    
    #title .name {
        font-size: 4em;
    }
    
    p {
        font-size: 1.6em; 
    }
    
    .roles {
        display: flex;
        flex-direction: column;
    }
    
    .role {
        font-size: 1.6em;
    }
    #title img{
        position: absolute;
        margin-top: 0;
        margin-left: 40%;
        max-width: 20em;
        align-items: center;
    }
}

/*about*/
#about{
    margin: 15em 3em 0 3em;
    max-width: 60em;
    font-size: 1em;
    color: var(--light-color);
    z-index: -1;
}

#about h1  {
    color: var(--bg-btn-hover);
}
#about h3 {
    color: var(--bg-emphasis);
}

@media (min-width: 576px) {
    #about{
        margin: 15em 45em 0 3em;
        max-width: 60%;
        font-size: 0.8em;
    }
}

/*challanges*/

#challanges{
    margin: 15em 3em 0 3em;
    max-width: 60em;
    font-size: 1em;
    color: var(--light-color);
    z-index: -1;
}

#challanges h1  {
    color: var(--bg-btn-hover);
}
#challanges h3 {
    color: var(--bg-emphasis);
}

@media (min-width: 576px) {
    #challanges{
        margin: 3em 15em 0 45em;
        max-width: 60%;
        font-size: 0.8em;
    }
}

/*achievements*/
#achievements {
  margin: 5em 3em 0 3em;
  font-size: 1em;
  color: var(--light-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
}

#achievements li {
    display: inline-block; 
    margin-right: 15px; 
    vertical-align: middle; 
}

#achievements .badges li {
    list-style: none;
  }

#achievements p {
  color: transparent;
}

#achievements h3 {
  color: var(--bg-emphasis);
}

#achievements span {
    text-transform: capitalize;
}

@media (min-width: 576px) {


    #achievements h1  {
        color: var(--bg-btn-hover);
    }
    #achievements h3 {
        color: var(--bg-btn-hover);
    }
    #achievements p {
        color: var(--light-color);
    }
}
.badges img {
    height: 10vh;
}

.badges img:hover {
    height: 12vh;
}



/*learnings*/

#learnings{
    margin-top: 5em;
    margin-bottom: 5em;
    background-color: var(--bg-certificates);
    font-family: var(--p-font);
    color: var(--bs-color-02);
    height: 59em;
}    

.img_elasnatech {
    max-width: 300px;
    width: 100%;
}


#learnings ol {
    margin-left: 45px;
    padding: 0; 

}

#learnings li {
    display: inline-block; 
    margin-right: 15px; 
    vertical-align: middle; 
}

@media (min-width: 576px) {
    .img_elasnatech {
        max-width: 600px;
    }
    .text-ach{                    /*OK*/
        margin: 35em 3em;
    }
}




/*projects*/

#projects{
    margin-top: 2em;
    margin-bottom: 5em;
}

.cards-container {
    display:flex;
    justify-content: space-evenly;
    gap: 16px;
    flex-wrap: wrap;
}

.card{
    background-color: #300559;
    color: #f6f6f6;
    box-sizing: border-box;
    height: 400px;
    width: fit-content;
    border-radius: 6px;
    text-decoration: none;
}

.card:hover{
    background-color:#f6f6f6;
    color: #300559;
    border: 2px solid #300559 ;
    text-decoration: none;
}

.card p{
text-align: center;
}

.size{
    display: block;
    height: 80%;
}

@media (max-width: 800px){
    .cards-container{
        flex-direction: column;
        align-items: center;
    }
}

footer{
    background-color: #1b013d;
    padding: 16px;
    color: #f0f8ff;
    text-align: center;
    font-weight: 600;
}

/*experiences*/

#experiences{
    margin-top: 5em;
    margin-bottom: 5em;
}

/*contacts*/

#contacts{
    margin-top: 5em;
    margin-bottom: 5em;
}

footer{
    padding: 0.5rem;
    background-color: var(--bg-emphasis);
    color: var(--bs-color-02);
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

.contacts-footer {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

#ico-social {
    margin-bottom: 10px;
    width: 32px;
    
}
